<link href="assets/css/webtoon.css" rel="stylesheet">
<style>
    .margin-top-30 {
        margin-top: 30px;
    }
</style>

<!-- unicard img -->
<div class="unicard-img">
    <img class="banner-img" ng-src="images/webtoon_main.jpg">
</div>

<!-- Unicard -->
<div class="unicard unicard-framed pad-20 mgb-30 anim-fade">

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- widget grid -->
        <section id="widget-grid">

            <!-- row -->
            <div class="row">

                <!-- NEW WIDGET START -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <header>
                        <h3 class="fw-bold case-u unicard-title">
                            웹툰 다운로드 <span class="fg-primary">매니저</span>
                            <small class="text_lower">v1.4</small>
                        </h3>
                    </header>
                    <div class="margin-top-15">
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <h3 class="fw-bold case-u unicard-title margin-top-30">
                                1. 웹툰 다운로드 매니저가 무엇인가요?
                            </h3>
                            <blockquote class="warring_quote">
                               웹툰 다운로드 매니저(이하 wdm)은 온라인 웹툰을 다운로드 받을 수 있는 프로그램입니다. <br/>
                               개인이 웹툰을 소장하고 싶은 사용자들을 위해 개발되었습니다. 기존에 웹 환경에서 응용 프로그램 <br/>
                               버전으로 추가 새롭게 개발되었습니다. 현재는 네이버 웹툰(정식연재, 베스트도전)만 지원합니다. <br/>
                               앞으로 다양한 업데이트를 준비하고 있으니, 많은 관심 부탁드립니다.
                            </blockquote>

                            <h3 class="fw-bold case-u unicard-title margin-top-30">
                                2. 이 프로그램은 무료입니까?
                            </h3>
                            <blockquote class="warring_quote">
                                웹툰 다운로드 매니저는 프리웨어 입니다. <br/>
                                누구나 사용가능하지만, 아래 두가지를 준수해야합니다. <br/>
                                &nbsp;&nbsp;- 이 프로그램은 수정 / 재배포가 금지되어 있습니다. <br/>
                                &nbsp;&nbsp;- 이 프로그램은 블로그, 카페, 커뮤니티에 등록하되, NodeStory 출처는 남겨주셔야 합니다. <br/>
                                위 2가지 사항을 준수한다면, 무료로 사용가능합니다.  <br/>
                            </blockquote>

                            <h3 class="fw-bold case-u unicard-title margin-top-30">
                                3. 주의사항
                            </h3>
                            <blockquote class="warring_quote">
                                웹툰 다운로드 매니저로 다운로드 받은 이미지는 오로지 개인의 소장목적으로 사용하세요. <br/>
                                다운로드 받은 이미지의 저작권은 네이버 및 작가님들에게 있으므로, 이미지 공유는 저작권 위반입니다. <br/>
                                이미지 공유로 인해 발생되는 법적책임은 모두 개인(본인)에게 있습니다. <br/>
                            </blockquote>

                            <h3 class="fw-bold case-u unicard-title margin-top-30">
                                4. 요구사양
                            </h3>
                            <blockquote class="warring_quote">
                                웹툰 다운로드 매니저는 원활한 실행을 위해서 최소 512MB 메모리 시스템이 필요합니다.  <br/>
                                프로그램을 실행하기 위해서는 자바 최신버전이 필요합니다. <a href="https://java.com/ko/download/" target="_blank">▶ JDK 다운로드 (클릭)</a>
                            </blockquote>

                            <h3 class="fw-bold case-u unicard-title margin-top-30">
                                5. 그외
                            </h3>
                            <blockquote class="warring_quote">
                                웹툰 다운로드 매니저(WDM)는 프로그램 특성상 개발자인 제가 모든 웹툰을 전부 테스트할 수 없습니다.<br/>
                                다운로드가 되지 않는 웹툰 발견시 이메일로 아래의 형식으로 연락주십시오. <br/>
                                &nbsp;&nbsp;- 다운로드 되지 않는 웹툰제목, 무슨요일웹툰인지, 몇편인지 <br/>
                                &nbsp;&nbsp;- 스크린샷이 첨부되면 더욱 좋습니다. <br/>
                                버그는 최대한 빠르게 수정할 수 있도록 하고 있으며, 신규기능에 대한 피드백도 받습니다.<br/><br/>
                                <strong># 중요</strong> <br/>
                                네이버 로그인이 지원되는 프로그램경우, 기부 및 앱 발전에 지속적인 피드백을 주시는분들에게 선별하여 추첨을 통해 공유할까 생각중입니다.
                                로그인이 필요한 서비스는 특성상 엄격하게 고려할 수 밖에 없음을 양해 부탁드립니다.
                                WDM은 단순한 프로그램이 아닌, 웹에서 보는듯한 느낌을 살리기위해 인터페이스 및 기능 퀄리티에 신경쓰고있으며 보다 직관적이고 간편한 프로그램을 만들 수 있도록 노력하고있습니다.<br/>
                            </blockquote>

                            <h3 class="fw-bold case-u unicard-title margin-top-30">
                                # 기부하기
                            </h3>
                            <blockquote class="warring_quote">
                                웹툰 다운로드 매니저의 앱 발전을 위해 기부를 받고있습니다. <br/>
                                기부금은 서버유지비용 및 앱 발전에 사용되며, 개인의 이익을위해 일체히 사용되지 않음을 알려드립니다. <br/>
                                기부의사와 금액은 자유입니다. 페이팔 결제가 어려우신분은 이메일로 연락주십시오. 감사합니다. <br/>
                                Email: <strong>kstory8715@gmail.com</strong>
                                <hr>
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="8CR9WG8A5B72U">
                                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                </form>
                            </blockquote>
                            <div class="widget-footer smart-form" style="margin-top: 20px;text-align: center;">
                                <div class="btn-group">
                                    <a id="down_btn" style="padding: 10px 10px;border-radius: 2px;" class="btn-lg btn-primary cursor" type="button">
                                        <i class="fa fa-check"></i> 다운로드
                                    </a>
                                </div>
                            </div>

                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </article>
            </div>
        </section>
        <!-- end widget grid -->
    </div>
    <!-- END MAIN CONTENT -->

</div>

</div>


<div style="margin-bottom: 20px;">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 웹툰페이지 광고 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-2659362976819715"
         data-ad-slot="6564886785"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<div class="unicard unicard-framed pad-30 mgb-30">
    <dir-disqus config="disqusConfig"></dir-disqus>
</div>

<script src="assets/js/jquery.fileDownload.js"></script>
<script src="assets/js/webtoon.js"></script>
