<link href="assets/css/webtoon.css" rel="stylesheet">
<link href="assets/css/bootstrap-multiselect.css" rel="stylesheet">

<style>
    .multiselect-container {
        position: absolute;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow-y: scroll;
        height: 300px;
    }
    .multiselect-native-select {
        display: block;
        margin-top: 10px;
    }
</style>

<!-- unicard img -->
<div class="unicard-img">
    <img class="banner-img" ng-src="images/webtoon_main.jpg">
</div>

<!-- Unicard -->
<div class="unicard unicard-framed pad-20 mgb-30 anim-fade">

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- widget grid -->
        <section id="widget-grid">

            <!-- row -->
            <div class="row">

                <!-- NEW WIDGET START -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <header>
                        <h3 class="fw-bold case-u unicard-title">
                            선택 가능한 <span class="fg-primary">웹툰</span>
                            <small class="text_lower">v0.4.5</small>
                        </h3>
                    </header>
                    <div class="margin-top-15">
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                <tr>
                                    <th>선택</th>
                                    <th><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> 작가명</th>
                                    <th><i class="fa fa-fw fa-cloud text-muted hidden-md hidden-sm hidden-xs"></i> 플랫폼</th>
                                    <th><i class="fa fa-fw fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i> 요일</th>
                                    <th><i class="fa fa-fw fa-arrow-down txt-color-blue hidden-md hidden-sm hidden-xs"></i> 웹툰 제목</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="radio" class="webtoon_box cursor" name="radio" value="602910" title="윈드브레이커"></td>
                                    <td>조용석</td>
                                    <td class="td_date">네이버</td>
                                    <td>월</td>
                                    <td class="td_date">윈드브레이커</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" class="webtoon_box cursor" name="radio" value="25455" title="노블레스"></td>
                                    <td>손재호 / 이광수</td>
                                    <td class="td_date">네이버</td>
                                    <td>화</td>
                                    <td class="td_date">노블레스</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" class="webtoon_box cursor" name="radio" value="626907" title="복학왕"></td>
                                    <td>기안84</td>
                                    <td class="td_date">네이버</td>
                                    <td>수</td>
                                    <td class="td_date">복학왕</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" class="webtoon_box cursor" name="radio" value="662774" title="고수"></td>
                                    <td>류기운 / 문정후</td>
                                    <td class="td_date">네이버</td>
                                    <td>수</td>
                                    <td class="td_date">고수</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" class="webtoon_box cursor" name="radio" value="642598" title="조선왕족실톡"></td>
                                    <td>무적핑크</td>
                                    <td class="td_date">네이버</td>
                                    <td>수, 일</td>
                                    <td class="td_date">조선왕족실톡</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" class="webtoon_box cursor" name="radio" value="679519" title="대학일기"></td>
                                    <td>자까</td>
                                    <td class="td_date">네이버</td>
                                    <td>월, 목</td>
                                    <td class="td_date">대학일기</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" class="webtoon_box cursor" name="radio" value="318995" title="갓 오브 하이스쿨"></td>
                                    <td>박용제</td>
                                    <td class="td_date">네이버</td>
                                    <td>금</td>
                                    <td class="td_date">갓 오브 하이스쿨</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" class="webtoon_box cursor" name="radio" value="374974" title="심심한 마왕"></td>
                                    <td>김상민</td>
                                    <td class="td_date">네이버</td>
                                    <td>일</td>
                                    <td class="td_date">심심한 마왕</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="bg-primary" style="padding:1%;text-align: center">
                                <span>웹툰 목록은 계속 추가될 예정입니다.</span>
                            </div>
                            <div class="row margin-top-15">
                                <section class="col-sm-2">
                                    <span>선택한 웹툰</span>
                                    <input type="text" class="label-span" id="select_webtoon" name="select_webtoon" readonly value="">
                                </section>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-sm-4">
                                    <span>에피소드 선택</span>
                                    <select id="selectBox" class="form-control label-span" multiple="multiple" style="display: none;">
                                        <option>에피소드를 선택하세요.</option>
                                    </select>
                                </div>
                            </div>

                            <div class="margin-top-15">
                                <small> ＊ 네트워크 환경에 따라 다운로드에 실패될 수도 있습니다.</small> <br/>
                            </div>

                            <blockquote class="warring_quote">
                                <span class="web_color">주의사항</span>
                                <br/>
                                <small> 이미지를 배포하는 행위는 저작권을 위반하는 행위이므로 절대 배포하시면 안 됩니다.</small>
                                <small> 배포로 인한 형사적 책임은 전부 본인에게 있습니다.</small>
                                <small> 오직 개인의 소유를 위한 목적으로 사용하세요.</small>
                                <small> 다운로드를 진행하면 모든 주의사항을 동의한 것으로 간주합니다.</small>
                            </blockquote>
                            <div class="widget-footer smart-form" style="margin-top: 20px;">
                                <div class="btn-group">
                                    <a id="down_btn" style="padding: 10px 10px;border-radius: 5px;" class="btn-lg btn-success cursor" type="button">
                                        <i class="fa fa-check"></i> 다운로드
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </article>
            </div>
        </section>
        <!-- end widget grid -->
    </div>
    <!-- END MAIN CONTENT -->

</div>

<!-- END MAIN PANEL -->
<div id="open" class="modalDialog" style="display: none;">
    <div>
        <h3 style="padding-top: 5px;">다운로드</h3>
        <hr style="margin: 10px 0;"/>
        <div class="icon" style="text-align: center;">
            <img style="width:120px;" src="images/01-progress.gif" />
        </div><br/>
        <div style="text-align: center;">
            <p class="msg">
                다운로드가 진행 중 입니다.
            </p>
        </div>
        <blockquote>
            <span class="warring">주의사항</span>
            <br/>
            <small> 다운로드중에는 브라우저를 종료하지 마십시오.</small>
            <small> 이 콘솔은 다운로드가 완료되면 자동으로 종료됩니다.</small>
            <small> 다운로드가 실패되면, 재시도 해주세요.</small>
        </blockquote>
    </div>
</div>

<!-- END MAIN PANEL -->
<div id="group" class="modalDialog" style="display: none;">
    <div>
        <h3 style="padding-top: 5px;">다운로드</h3>
        <hr style="margin: 10px 0;"/>
        <div class="icon" style="text-align: center;">
            <img style="width:120px;" src="images/01-progress.gif" />
        </div><br/>
        <div style="text-align: center;">
            <p class="msg group_msg">
                그룹 다운로드가 진행 중 입니다. <br/>
                그룹 다운로드는 1분 ~ 최대 5분이 소요될 수 있습니다.<br/>
            </p>
            <p id="loading"></p>
        </div>
        <blockquote>
            <span class="warring">주의사항</span>
            <br/>
            <small> 다운로드중에는 브라우저를 종료하지 마십시오.</small>
            <small> 이 콘솔은 다운로드가 완료되면 자동으로 종료됩니다.</small>
            <small> 다운로드가 실패되면, 재시도 해주세요.</small>
        </blockquote>
    </div>
</div>

</div>

<div class="unicard unicard-framed pad-30 mgb-30 hidden-xs">
    <div disqus="123"></div>
</div>

<input type="hidden" id="webtoonID" value="" />
<input type="hidden" id="webtoonEP" value="" />
<input type="hidden" id="webtoonNM" value="" />

<script src="assets/js/jquery.fileDownload.js"></script>
<script src="assets/js/bootstrap-multiselect.js"></script>
<script src="assets/js/webtoon.js"></script>