<link href="assets/css/shortcode_timeline2.css" rel="stylesheet">

<!-- unicard img -->
<div class="unicard-img">
    <img ng-src="images/history1.jpg">
</div>

<div class="unicard unicard-framed pad-20 mgb-30 anim-fade">

<!-- Begin Content -->
    <ul class="timeline-v2">
        <li class="equal-height-columns">
            <div class="cbp_tmtime equal-height-column"><span>12/10/16</span> <span>토요일</span></div>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel equal-height-column">
                <h2>간만에 수정작업 진행 함.</h2>
                <p style="font-size:13px;">
                    안녕하세요.
                    블로그 관리자 파삭입니다. 히스토리 메뉴가 추가 되었습니다! 깃허브에 잘 기록중이지만, 비공개인지라.. 이곳에 추가해봤습니다. 놀고 있는거 아님!!
                    물론 최근에 다른 것을 개발하느라 신경 못쓴게 있다보니.. 어서 노드블을 완성시켜야 겠습니다! 수시로 업데이트 내역은 이곳에 등록하겠습니다.
                </p>
                <div class="row" style="font-size:12px;font-family: 'Noto Sans KR',sans-serif !important;">
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check color-red"></i> 메인 포스트 더 보기 버그 수정</li>
                            <li><i class="fa fa-check color-red"></i> POPULAR 목록 스타일 변경</li>
                            <li><i class="fa fa-check color-red"></i> MY STORY 카테고리 신규로 추가</li>
                            <li><i class="fa fa-check color-red"></i> 히스토리 메뉴 추가</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check color-red"></i> 각 포스트 메뉴 별 목록 스타일 변경</li>
                            <li><i class="fa fa-check color-red"></i> 신규 Music 추가</li>
                            <li><i class="fa fa-check color-red"></i> 나의 이야기 메뉴 추가</li>
                            <li><i class="fa fa-check color-red"></i> 상단 네비 메뉴에 시계 추가</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check color-red"></i> 각 포스트 메뉴 별 목록 스타일 변경</li>
                            <li><i class="fa fa-check color-red"></i> 신규 Music 추가</li>
                            <li><i class="fa fa-check color-red"></i> 나의 이야기 메뉴 추가</li>
                            <li><i class="fa fa-check color-red"></i> 상단 네비 메뉴에 시계 추가</li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="equal-height-columns">
            <div class="cbp_tmtime equal-height-column"><span>12/11/16</span> <span>일요일</span></div>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel equal-height-column">
                <h2>일요일 수정사항</h2>
                <p style="font-size:13px;">
                    안녕하세요.
                    블로그 관리자 파삭입니다. 편안한 주말 보내고 있습니까? 저는 뜨뜻한 커퓌를 마시면서 몇가지 수정하였네요.
                    사실 작성은 토요일에 했지만, 일요일로 퉁쳐봅니다 ㅇ_ㅇ
                </p>
                <div class="row" style="font-size:12px;font-family: 'Noto Sans KR',sans-serif !important;">
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check color-red"></i> 네이버 공유하기 추가</li>
                            <li><i class="fa fa-check color-red"></i> 상세 페이지 헤더 디자인수정</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check color-red"></i> 상세 페이지 추천포스트 이미지 비율 조정</li>
                            <li><i class="fa fa-check color-red"></i> 그 외 자잘한 디자인 수정</li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="equal-height-columns">
            <div class="cbp_tmtime equal-height-column"><span>12/16/16</span> <span>금요일</span></div>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel equal-height-column">
                <h2>금요일 수정사항</h2>
                <p style="font-size:13px;">
                    안녕하세요.
                    블로그 관리자 파삭입니다.
                    웹툰다운로드 매니저가 v0.1 런칭되었습니다. 아직 조금 불안정하지만, 차차 수정해야지요 ㅎㅎ
                </p>
                <div class="row" style="font-size:12px;font-family: 'Noto Sans KR',sans-serif !important;">
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check color-red"></i> 웹툰 다운로드 매니저 v0.1 런칭</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check color-red"></i> 아직 불안정함. 차차 수정예정</li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="equal-height-columns">
            <div class="cbp_tmtime equal-height-column"><span>12/18/16</span> <span>일요일</span></div>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel equal-height-column">
                <h2>일요일 수정사항</h2>
                <p style="font-size:13px;">
                    안녕하세요.
                    블로그 관리자 파삭입니다.
                    즐거운 주말 보내고 계신가요? 오늘도 업데이트사항 공유합니다.
                </p>
                <div class="row" style="font-size:12px;font-family: 'Noto Sans KR',sans-serif !important;">
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check color-red"></i> 웹툰 다운로드 매니저 자동화 기능추가</li>
                            <li><i class="fa fa-check color-red"></i> 기타 서버안정화 작업진행</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check color-red"></i> 웹툰 다운로드 매니저 안정화 작업진행</li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
<!-- End Content -->
</div>