<style>
    .uninav li a {
        color : #fff;
    }
</style>

<!-- Mini Footer -->
<footer class="mini-footer bd-t" style="position: relative;background-color: #263238;">

    <!-- Container -->
    <div class="container">

        <!-- uninav -->
        <ul class="uninav auto-invert case-c uninav-sm text-center uninav-uline">
            <li class="hidden-xs"><a href="#"><b class="fg-primary">TRENDING:</b></a></li>
            <li><a href="#">#PS4</a></li>
            <li><a href="#">#2017</a></li>
            <li><a href="#">#바하7</a></li>
            <li><a href="#">#웹툰다운로드매니저</a></li>
            <li><a href="#">#한글화게임</a></li>
        </ul>
        <!-- /uninav -->

    </div>
    <!-- /Container -->

</footer>
<!-- /Mini Footer -->