<div class="row">
    <!-- col -->
    <div class="col-sm-6 col-md-12">

        <!-- unicard -->
        <div class="unicard unicard-framed pad-20 side-widget mgb-30 hidden-xs">
            <!-- post img -->
            <div class="post-img">
                <a class="img-link"><img src="images/dk.jpg" alt="" /></a>
                <div class="unicaption pad-20 img-layer grad-caption">
                    <h4 class="unicaption-title fw-bold case-u"><a>벌써 연말이야...</a></h4>
                </div>
            </div>
            <!-- /post img -->
        </div>
        <!-- /unicard -->

    </div>
    <!-- /col -->
</div>


