<!-- chat css -->
<link href="assets/css/chat2.css" rel="stylesheet">

<!-- Unicard -->
<div class="unicard unicard-framed pad-20 mgb-30 anim-fade">
    <input id="videotag" type="text" />
    <a id="addvideo" class="btn btn-primary btn-xs">영상추가</a>
    <div class="panel panel-info" style="margin-bottom: 5px !important;">
        <div id="messagePanel" class="panel-body pbody front" style="display: block;">
            <ul class="media-list chatPanel">
                <!-- Chat message append here. -->

                <li>
                    <div id="videopanel" class="unicard unicard-framed pad-20 mgb-30 anim-fade">
                    </div>
                </li>

            </ul>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <textarea class="form-control" id="txt" style="resize:none;" placeholder="메세지를 입력하세요."></textarea>
                <span class="input-group-btn">
                <a class="btn btn-info" style="padding: 16px;" id="btn">전송</a>
            </span>
            </div>
        </div>
    </div>

    <script defer src="assets/js/client.js"></script>
    <script>
        $(function() {
            $('#btn_userList').on('click', function() {
                $('#userListPanel').fadeIn('slow').show();
                $('#messagePanel').hide();
            });
            $('#userback').on('click', function() {
                $('#userListPanel').fadeIn('slow').hide();
                $('#messagePanel').show();
            });
            $('#btn_msgRemove').on('click', function() {
                $('.chatPanel').empty();
            });
        });
    </script>
</div>
