<!-- Feedback -->
<div class="unicard unicard-framed pad-30 mgb-15">
    <h5 ng-if="postCommentCount == 0" class="case-u fw-bold fg-primary">코멘트가 없습니다. 첫 번째로 등록하세요!</h5>
    <h5 ng-if="postCommentCount > 0" class="case-u fw-bold fg-primary">이 글의 코멘트를 남기세요!</h5>
    <!-- message form -->
    <form class="mgb-30">
        <!-- row -->
        <div class="row gutter-10 spaced mgb-10">
            <div class="col-sm-6">
                <input type="text" ng-required="true" ng-model="comment_who" ng-minlength="2" ng-maxlength="8" maxlength="8" class="form-control" placeholder="작성자명을 입력하세요.">
            </div>
            <div class="col-sm-6">
                <input type="text" ng-model="comment_email" class="form-control" placeholder="이메일을 입력하세요. (생략가능)">
            </div>
            <div class="col-xs-12">
                <textarea ng-model="comment_content" ng-required="true" ng-minlength="4" ng-maxlength="200" maxlength="200" class="form-control" placeholder="코멘트의 내용을 입력하세요."></textarea>
            </div>
        </div>
        <!-- /row -->
        <!-- row -->
        <div class="row row-table-sm gutter-10">
            <div class="col-sm-8 v-mid">
                <label class="checkbox checkbox-styled">
                    <input type="checkbox" checked disabled>코멘트 등록 소식을 관리자에게 전달하기
                    <span class="indicator fg-after-green"></span>
                </label>
                <label class="checkbox checkbox-styled">
                    <input type="checkbox" checked disabled>손님으로 작성하기
                    <span class="indicator fg-after-green"></span>
                </label>
            </div>
            <div class="col-sm-4 v-mid">
                <a ng-click="insertComment(postData.POST_SEQ)" class="btn btn-pad-lg btn-block btn-primary case-u">코멘트 등록하기</a>
            </div>
        </div>
        <!-- /row -->
    </form>
    <!-- /message form -->
</div>
<!-- /Feedback -->